<nav class="navbar navbar-inverse">
  <h3 style="color:white">Control Panel</h3>
</nav>
<div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-3 ">
                    <label>CurrentState</label>
                    <div>
                            <img src="./images/offlight.jpeg" width="50px" height="50px" ng-show="showOffLight">
                            <img src="./images/onLight.jpeg" width="50px" height="50px" ng-show="showOnLight">
                    </div>
            </div>
            <div class="col-md-3 col-sm-3 ">
               <label for="changeStatusTime">SetTime</label>
                <div>
                  <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                      <div class="input-group"><input type="text" class="form-control" data-ng-model="currentTime"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <datetimepicker data-ng-model="currentTime" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 ">
              <label>SetTo</label>
              <div>
                <label style="margin-right:22px"><input type="radio" name="LightOptions" ng-model="data.availableLightOptions.name" value="ON"> ON</label>
                <label style="margin-right:25px">
                <input type="radio" name="LightOptions" ng-model="data.availableLightOptions.name" value="OFF"> OFF</label>
              </div>

            </div>
            <div class="col-md-3 col-sm-3 ">
              <br>
              <button type="submit" class="btn btn-primary btn-md" ng-click="setLightStatus()">Save</button>
              <toggle-switch ng-model="switchStatus"></toggle-switch>
            </div>
          </div>
          <div class="row">
           <div class="col-md-3 col-sm-3 ">
                   <div class="curtain">
                      <div>
                            <img src="./images/images.jpeg" width="50px" height="50px" ng-show="showCloseCurtain">
                            <img src="./images/opencurtains.jpeg" width="50px" height="50px" ng-show="showOpenCurtain">
                    </div>
                    </div>
            </div>
            <div class="col-md-3 col-sm-3 ">
             <div>
                <div class="dropdown">
                  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                    <div class="input-group"><input type="text" class="form-control" data-ng-model="currentCurtainTime"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="currentCurtainTime" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 ">
             <div>
                <label><input type="radio" name="curtainOptions" ng-model="data.availableCurtainOptions.name" value="OPEN"> OPEN</label>
                <label>&nbsp;
                <input type="radio" name="curtainOptions" ng-model="data.availableCurtainOptions.name" value="CLOSE"> CLOSE</label>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 ">
              <button type="submit" class="btn btn-primary" ng-click="setCurtainStatus()">Save</button>
            </div>
          </div>
          <div class="row">
            <div class = "col-md-3 col-sm-3 ">
                   <div class="curtain">
                      <div>
                            <img src="./images/closedgarage.jpeg" width="50px" height="50px" ng-show="showCloseGarage">
                            <img src="./images/opengarage.jpg" width="50px" height="50px" ng-show="showOpenGarage">
                      </div>
                    </div>
            </div>
            <div class="col-md-3 col-sm-3">
             <div>
                <div class="dropdown">
                  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                    <div class="input-group"><input type="text" class="form-control" data-ng-model="currentGarageTime"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="currentGarageTime" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 ">
             <div>
                 <label><input type="radio" name="garageOptions" ng-model="data.availableGarageOptions.name" value="OPEN"> OPEN</label>&nbsp;
                <label>
                <input type="radio" name="garageOptions" ng-model="data.availableGarageOptions.name" value="CLOSE"> CLOSE</label>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 ">
              <button type="submit" class="btn btn-primary" ng-click="setGarageStatus()">Save</button>
            </div>
          </div>
          <div class="row">
            <div class = "col-md-3 col-sm-3">
                    <div>
                           <raphael-gauge id="gauge1" config="gauge" style="width:50px; height:50px;"></raphael-gauge>
                    </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <div>
                <div class="dropdown">
                  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                    <div class="input-group"><input type="text" class="form-control" data-ng-model="currentTempTime"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="currentTempTime" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 ">
             <div>
                <p>{{temp}}</p>
                <input type="range" min = "0" max = "100" style="width :120px;" ng-model="temp">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 ">
              <button type="submit" class="btn btn-primary" ng-click="setTemp()">Save</button>
            </div>
          </div>   
</div>
