<div class="container">
    <h3>Control Panel</h3>
    <form name="noteInfo" class="form-horizontal">
        <div class = "form-group">
              <label for="lightStatus" class="col-sm-2 control-label">Light Current Status: </label>
               <div class="col-sm-10">
                        <p>{{lights[0].currentStatus}}</p>
                </div>
        </div>
        <div class = "form-group">
          <label for="changeStatusTime" class="col-sm-2 control-label">Set Time: </label>
          <div class="col-sm-10">
            <div class="dropdown">
              <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                <div class="input-group"><input type="text" class="form-control" data-ng-model="currentTime" ng-editable="true"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="currentTime" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
              </ul>
            </div>
          </div>
        </div>
        <div class = "form-group">
          <label class="col-sm-2 control-label"> Change Status to </label>
          <div class="col-sm-10">
            <select ng-model="lightStatus" ng-options="option.name for option in data.availableLightOptions"></select>
          </div>
        </div>
        <div class = "form-group">
           <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="setLightStatus()">Save</button>
            </div>
        </div>
	</form>
</div>